<h1>02 Pandas</h1>
$\newcommand{\Set}[1]{\{#1\}}$ 
$\newcommand{\Tuple}[1]{\langle#1\rangle}$ 
$\newcommand{\v}[1]{\pmb{#1}}$ 
$\newcommand{\cv}[1]{\begin{bmatrix}#1\end{bmatrix}}$ 
$\newcommand{\rv}[1]{[#1]}$ 
$\DeclareMathOperator{\argmax}{arg\,max}$ 
$\DeclareMathOperator{\argmin}{arg\,min}$ 
$\DeclareMathOperator{\dist}{dist}$
$\DeclareMathOperator{\abs}{abs}$

In [24]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h1>Series</h1>
<p>
    A Series is like a 1D array. The values in the Series have an index, which, by default, uses consecutive 
    integers from 0.
</p>

In [26]:
s = pd.Series([2, 4, -12, 0, 2])
s

0     2
1     4
2   -12
3     0
4     2
dtype: int64

<p>
    You can get its shape and dtype as we did with numpy arrays:
</p>

In [27]:
s.shape

(5,)

In [28]:
s.dtype

dtype('int64')

<p>
    You can get the values as a numpy array:
</p>

In [29]:
s.values

array([  2,   4, -12,   0,   2])

<p>
    You can access by index and by slicing, as in Python:
</p>

In [30]:
s[3]

0

In [31]:
s[1:3]

1     4
2   -12
dtype: int64

In [32]:
s[1:]

1     4
2   -12
3     0
4     2
dtype: int64

<p>
    A nice feature is Boolean indexing, where you extract values using a list of Booleans (not square brackets 
    twice) and it returns the values that correspond to the Trues in the  list:
</p>

In [33]:
s[[True, True, False, False, True]]

0    2
1    4
4    2
dtype: int64

<p>
    Operators are vectorized, similar to numpy:
</p>

In [34]:
s * 2

0     4
1     8
2   -24
3     0
4     4
dtype: int64

In [35]:
s > 0

0     True
1     True
2    False
3    False
4     True
dtype: bool

<p>
    The next example is neat. It combines a vectorized operator with the idea of Boolean indexing:
</p>

In [36]:
s[s > 0]

0    2
1    4
4    2
dtype: int64

<p>
    There are various methods, as you would expect, many building out from numpy e.g.:
</p>

In [37]:
s.sum()

-4

In [38]:
s.mean()

-0.8

In [39]:
s.unique()

array([  2,   4, -12,   0])

In [40]:
s.value_counts()

 2     2
 4     1
-12    1
 0     1
dtype: int64

<p>
    One method is astype, which can do data type conversions:
</p>

In [41]:
s.astype(float)

0     2.0
1     4.0
2   -12.0
3     0.0
4     2.0
dtype: float64

<h1>DataFrame</h1>
<p>
    A DataFrame is a table of data, comprising rows and columns. The rows and columns both have an index. If
    you want more dimensions (we won't), then they support hierarchical indexing.
</p>
<p>
    There are various ways of creating a DataFrame, e.g. supply to its constructor a dictionary of equal-sized
    lists:
</p>

In [42]:
df = pd.DataFrame({'a' : [1, 2, 3], 'b' : [4, 5, 6], 'c' : [7, 8, 9]})
df

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

<p>
    The keys of the dictionary became the column index, and it assigned integers to the other index. 
</p>
<p>
    But, instead of looking at all the possible ways of doing this, we'll be reading the data in from a CSV file.
    We will assume that the first line of the file contains headers. These become the column indexes.
</p>

In [43]:
df = pd.read_csv('../datasets/dataset_stop_and_searchA.csv')

In [44]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
1,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
2,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
3,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
4,Male,18-24,Other ethnic group - Not stated,Asian,Controlled drugs,Community resolution
5,Male,18-24,Other ethnic group - Not stated,White,Controlled drugs,A no further action disposal
6,Male,18-24,White - Any other White background,White,Controlled drugs,A no further action disposal
7,Male,25-34,Asian/Asian British - Indian,Asian,Stolen goods,Arrest
8,Male,18-24,White - Any other White background,White,Controlled drugs,A no further action disposal
9,Male,NaN,Other ethnic group - Any other ethnic group,Black,Controlled drugs,A no further action disposal
10,Male,NaN,White - Any other White background,White,Offensive weapons,A no further action disposal
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
12,Male,10-17,Black/African/Caribbean/Black British - African,Black,Offensive weapons,A no further action disposal
13,Male,over 34,White - Any other White background,White,Evidence of offences under the Act,A no further action disposal
14,Male,over 34,White - Any other White background,White,Stolen goods,A no further action disposal
15,Male,25-34,Black/African/Caribbean/Black British - Caribbean,Black,Offensive weapons,A no further action disposal
16,Male,25-34,Other ethnic group - Not stated,Asian,Offensive weapons,A no further action disposal
17,Male,18-24,Black/African/Caribbean/Black British - Caribbean,White,Evidence of offences under the Act,Arrest
18,Male,25-34,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,A no further action disposal
19,Male,25-34,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
20,Male,18-24,Mixed/Multiple ethnic groups - White and Black...,Black,Controlled drugs,A no further action disposal
21,Male,10-17,Other ethnic group - Not stated,Asian,Controlled drugs,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
23,Male,18-24,Black/African/Caribbean/Black British - African,Black,Controlled drugs,Arrest
24,Male,25-34,White - English/Welsh/Scottish/Northern Irish/...,White,Evidence of offences under the Act,Arrest
25,Male,18-24,Black/African/Caribbean/Black British - Caribbean,Black,Controlled drugs,Community resolution
26,Male,25-34,White - Any other White background,White,Offensive weapons,Arrest
27,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
28,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Offensive weapons,Community resolution
29,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest
31,Male,25-34,White - Any other White background,White,Stolen goods,Arrest
32,Male,25-34,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal
33,Male,18-24,White - English/Welsh/Scottish/Northern Irish/...,White,Stolen goods,A no further action disposal
34,Male,10-17,Other ethnic group - Not stated,Black,Controlled drugs,Arrest
35,Male,18-24,Other ethnic group - Not stated,Black,Offensive weapons,Arrest
36,Male,NaN,White - English/Welsh/Scottish/Northern Irish/...,White,Controlled drugs,A no further action disposal
37,Male,18-24,Other ethnic group - Not stated,Other,Controlled drugs,A no further action disposal
38,Male,18-24,Asian/Asian British - Any other Asian background,Asian,Evidence of offences under the Act,Arrest
39,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,Arrest

<p>
    Notice when the CSV file has an empty value (a pair of consecutive commas), then Pandas treats this as NaN,
    which is a float. 
</p>

<p>
    A useful method at this point is describe:
</p>

In [45]:
df.describe(include='all')

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
count,40,36,40,40,40,40
unique,2,4,10,4,4,3
top,Male,18-24,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
freq,37,22,12,16,22,24

<p>And this method too:</p>

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             40 non-null     object
 1   Age                36 non-null     object
 2   Suspect-ethnicity  40 non-null     object
 3   Officer-ethnicity  40 non-null     object
 4   Object-of-search   40 non-null     object
 5   Outcome            40 non-null     object
dtypes: object(6)
memory usage: 2.0+ KB

<p>
    We can also get the column headers, row index, shape and dtypes (not dtype):
</p>

In [47]:
df.columns

Index(['Gender', 'Age', 'Suspect-ethnicity', 'Officer-ethnicity',
       'Object-of-search', 'Outcome'],
      dtype='object')

In [48]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [49]:
df.shape

(40, 6)

In [50]:
df.dtypes

Gender               object
Age                  object
Suspect-ethnicity    object
Officer-ethnicity    object
Object-of-search     object
Outcome              object
dtype: object

<p>
    You can retrieve a whole column, as a Series, using column indexing:
</p>

In [51]:
df['Suspect-ethnicity']

0                       Other ethnic group - Not stated
1                       Other ethnic group - Not stated
2                       Other ethnic group - Not stated
3                       Other ethnic group - Not stated
4                       Other ethnic group - Not stated
5                       Other ethnic group - Not stated
6                    White - Any other White background
7                          Asian/Asian British - Indian
8                    White - Any other White background
9           Other ethnic group - Any other ethnic group
10                   White - Any other White background
11    Black/African/Caribbean/Black British - Any ot...
12      Black/African/Caribbean/Black British - African
13                   White - Any other White background
14                   White - Any other White background
15    Black/African/Caribbean/Black British - Caribbean
16                      Other ethnic group - Not stated
17    Black/African/Caribbean/Black British - Caribbean
18    Black/African/Caribbean/Black British - Any ot...
19                      Other ethnic group - Not stated
20    Mixed/Multiple ethnic groups - White and Black...
21                      Other ethnic group - Not stated
22    White - English/Welsh/Scottish/Northern Irish/...
23      Black/African/Caribbean/Black British - African
24    White - English/Welsh/Scottish/Northern Irish/...
25    Black/African/Caribbean/Black British - Caribbean
26                   White - Any other White background
27     Asian/Asian British - Any other Asian background
28    Black/African/Caribbean/Black British - Any ot...
29     Asian/Asian British - Any other Asian background
30    Black/African/Caribbean/Black British - Any ot...
31                   White - Any other White background
32     Asian/Asian British - Any other Asian background
33    White - English/Welsh/Scottish/Northern Irish/...
34                      Other ethnic group - Not stated
35                      Other ethnic group - Not stated
36    White - English/Welsh/Scottish/Northern Irish/...
37                      Other ethnic group - Not stated
38     Asian/Asian British - Any other Asian background
39    Black/African/Caribbean/Black British - Any ot...
Name: Suspect-ethnicity, dtype: object

<p>
    Now you have a Series, you might use the unique or value_counts methods that we looked at earlier.
</p>

In [52]:
df['Suspect-ethnicity'].unique()

array(['Other ethnic group - Not stated',
       'White - Any other White background',
       'Asian/Asian British - Indian',
       'Other ethnic group - Any other ethnic group',
       'Black/African/Caribbean/Black British - Any other Black/African/Caribbean background',
       'Black/African/Caribbean/Black British - African',
       'Black/African/Caribbean/Black British - Caribbean',
       'Mixed/Multiple ethnic groups - White and Black African',
       'White - English/Welsh/Scottish/Northern Irish/British',
       'Asian/Asian British - Any other Asian background'], dtype=object)

In [53]:
df['Suspect-ethnicity'].value_counts()

Other ethnic group - Not stated                                                         12
White - Any other White background                                                       7
Black/African/Caribbean/Black British - Any other Black/African/Caribbean background     5
White - English/Welsh/Scottish/Northern Irish/British                                    4
Asian/Asian British - Any other Asian background                                         4
Black/African/Caribbean/Black British - Caribbean                                        3
Black/African/Caribbean/Black British - African                                          2
Asian/Asian British - Indian                                                             1
Other ethnic group - Any other ethnic group                                              1
Mixed/Multiple ethnic groups - White and Black African                                   1
Name: Suspect-ethnicity, dtype: int64

<p>
    If you ask for more than one column, then you must give them as a list (note the nested brackets). 
    Then, the result is not a Series, but a DataFrame:
</p>

In [54]:
df[['Suspect-ethnicity', 'Officer-ethnicity']]

                                    Suspect-ethnicity Officer-ethnicity
0                     Other ethnic group - Not stated             Black
1                     Other ethnic group - Not stated             Asian
2                     Other ethnic group - Not stated             Asian
3                     Other ethnic group - Not stated             Asian
4                     Other ethnic group - Not stated             Asian
5                     Other ethnic group - Not stated             White
6                  White - Any other White background             White
7                        Asian/Asian British - Indian             Asian
8                  White - Any other White background             White
9         Other ethnic group - Any other ethnic group             Black
10                 White - Any other White background             White
11  Black/African/Caribbean/Black British - Any ot...             Black
12    Black/African/Caribbean/Black British - African             Black
13                 White - Any other White background             White
14                 White - Any other White background             White
15  Black/African/Caribbean/Black British - Caribbean             Black
16                    Other ethnic group - Not stated             Asian
17  Black/African/Caribbean/Black British - Caribbean             White
18  Black/African/Caribbean/Black British - Any ot...             Black
19                    Other ethnic group - Not stated             Black
20  Mixed/Multiple ethnic groups - White and Black...             Black
21                    Other ethnic group - Not stated             Asian
22  White - English/Welsh/Scottish/Northern Irish/...             Black
23    Black/African/Caribbean/Black British - African             Black
24  White - English/Welsh/Scottish/Northern Irish/...             White
25  Black/African/Caribbean/Black British - Caribbean             Black
26                 White - Any other White background             White
27   Asian/Asian British - Any other Asian background             Asian
28  Black/African/Caribbean/Black British - Any ot...             Black
29   Asian/Asian British - Any other Asian background             Asian
30  Black/African/Caribbean/Black British - Any ot...             Black
31                 White - Any other White background             White
32   Asian/Asian British - Any other Asian background             Asian
33  White - English/Welsh/Scottish/Northern Irish/...             White
34                    Other ethnic group - Not stated             Black
35                    Other ethnic group - Not stated             Black
36  White - English/Welsh/Scottish/Northern Irish/...             White
37                    Other ethnic group - Not stated             Other
38   Asian/Asian British - Any other Asian background             Asian
39  Black/African/Caribbean/Black British - Any ot...             Black

<p> 
    How do we get an individual row? The likelihood of wanting this in this module is small. 
</p>
<p>
    If you do need to get an individual row, you cannot do indexing using square brackets, because that 
    notation is for columns.
</p>
<p>
    The iloc and loc methods are probably what you would use. iloc retrieves by position. So df.iloc[0]
    retrieves the first row. loc, on the other hand, retrieves by label, so df.loc[0] retrieves the row
    whose label in the row index is 0. Confusing, huh? Ordinarily, they'll be the same.
</p>

In [55]:
df.iloc[4]

Gender                                          Male
Age                                            18-24
Suspect-ethnicity    Other ethnic group - Not stated
Officer-ethnicity                              Asian
Object-of-search                    Controlled drugs
Outcome                         Community resolution
Name: 4, dtype: object

In [56]:
df.loc[4]

Gender                                          Male
Age                                            18-24
Suspect-ethnicity    Other ethnic group - Not stated
Officer-ethnicity                              Asian
Object-of-search                    Controlled drugs
Outcome                         Community resolution
Name: 4, dtype: object

<p>
    But sometimes the position and the label in the row index will not correspond. This can happen, for example,
    after shuffling the rows of the DataFrame or after deleting a row (see example later).
</p>

<p>
    In any case, we're much more likely to want to select several rows (hence a DataFrame) using Boolean indexing,
    defined by a Boolean expression. We use a Boolean expression that defines a Series and then use that
    to index the DataFrame.
</p>
<p>
    As an example, here's a Boolean expression:
</p>

In [57]:
df['Officer-ethnicity'] == 'Black'

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11     True
12     True
13    False
14    False
15     True
16    False
17    False
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26    False
27    False
28     True
29    False
30     True
31    False
32    False
33    False
34     True
35     True
36    False
37    False
38    False
39     True
Name: Officer-ethnicity, dtype: bool

<p>
    And here we use that Boolean expression to extract rows:
</p>

In [58]:
df[df['Officer-ethnicity'] == 'Black']

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Male,NaN,Other ethnic group - Not stated,Black,Offensive weapons,A no further action disposal
9,Male,NaN,Other ethnic group - Any other ethnic group,Black,Controlled drugs,A no further action disposal
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
12,Male,10-17,Black/African/Caribbean/Black British - African,Black,Offensive weapons,A no further action disposal
15,Male,25-34,Black/African/Caribbean/Black British - Caribbean,Black,Offensive weapons,A no further action disposal
18,Male,25-34,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,A no further action disposal
19,Male,25-34,Other ethnic group - Not stated,Black,Controlled drugs,A no further action disposal
20,Male,18-24,Mixed/Multiple ethnic groups - White and Black...,Black,Controlled drugs,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
23,Male,18-24,Black/African/Caribbean/Black British - African,Black,Controlled drugs,Arrest
25,Male,18-24,Black/African/Caribbean/Black British - Caribbean,Black,Controlled drugs,Community resolution
28,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Offensive weapons,Community resolution
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest
34,Male,10-17,Other ethnic group - Not stated,Black,Controlled drugs,Arrest
35,Male,18-24,Other ethnic group - Not stated,Black,Offensive weapons,Arrest
39,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Controlled drugs,Arrest

<p>
    In our Boolean expressions, we can do and, or and not (&, |, ~), but note that this often requires
    extra parentheses, e.g.
</p>

In [59]:
df[(df['Officer-ethnicity'] == 'Black') & (df['Object-of-search'] == 'Stolen goods')]

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
30,Male,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,Arrest

<p>
    We can use this idea to delete rows.
</p>
<p>
    We use Boolean indexing as above to select the rows we want to keep. Then we assign that dataframe back
    to the original variable.
</p>
<p>
    For example, let's delete all male suspects, in other words, keep all female suspects:
</p>

In [60]:
df = df[df['Gender'] == 'Female'].copy()

In [61]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
11,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
22,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
27,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal

<p>
    This example also illustrates the point from earlier about the difference between position (iloc) and
    label in the row index (loc).
</p>

In [62]:
df.iloc[0]

Gender                                                          Female
Age                                                              18-24
Suspect-ethnicity    Black/African/Caribbean/Black British - Any ot...
Officer-ethnicity                                                Black
Object-of-search                                          Stolen goods
Outcome                                   A no further action disposal
Name: 11, dtype: object

In [63]:
df.loc[0] # raises an exception

KeyError: 0

In [64]:
df.iloc[11] # raises an exception

IndexError: single positional indexer is out-of-bounds

In [65]:
df.loc[11]

Gender                                                          Female
Age                                                              18-24
Suspect-ethnicity    Black/African/Caribbean/Black British - Any ot...
Officer-ethnicity                                                Black
Object-of-search                                          Stolen goods
Outcome                                   A no further action disposal
Name: 11, dtype: object

<p>
    This is often a source of errors when writing Pandas. So one tip is, whenever you perform an operation
    that has the potential to change the row index, then reset the index so that it corresponds to the
    positions:
</p>

In [66]:
df.reset_index(drop=True, inplace=True)

In [67]:
df

,Gender,Age,Suspect-ethnicity,Officer-ethnicity,Object-of-search,Outcome
0,Female,18-24,Black/African/Caribbean/Black British - Any ot...,Black,Stolen goods,A no further action disposal
1,Female,18-24,White - English/Welsh/Scottish/Northern Irish/...,Black,Controlled drugs,Community resolution
2,Female,18-24,Asian/Asian British - Any other Asian background,Asian,Controlled drugs,A no further action disposal

<p>
    Deleting columns can be done in the same way as we deleted rows, i.e. extract the ones you want to keep
    and then assign the result back to the original variable, e.g.:
</p>

In [68]:
df = df[['Gender', 'Age', 'Object-of-search', 'Outcome']].copy()

In [69]:
df

   Gender    Age  Object-of-search                       Outcome
0  Female  18-24      Stolen goods  A no further action disposal
1  Female  18-24  Controlled drugs          Community resolution
2  Female  18-24  Controlled drugs  A no further action disposal

<p>
    But deletion can also be done using the drop method. If axis=0 (default), you're deleting rows.
    If axis=1, you're deleting columns (and this time you name the column you want to delete), e.g.:
</p>

In [70]:
df.drop("Age", axis=1, inplace=True)

In [71]:
df

   Gender  Object-of-search                       Outcome
0  Female      Stolen goods  A no further action disposal
1  Female  Controlled drugs          Community resolution
2  Female  Controlled drugs  A no further action disposal

<p>
    One handy variant is dropna with axis=0, which can be used to delete rows that contains NaN. We may see
    an example of this and a few other methods in our lectures and futuer labs. But, for now, we have enough
    for you to tackle something interesting.
</p>

<h1>Exercise</h1>
<p>
    I've a larger file that contains all stop-and-searches by the Metropolitan Police for about a year 
    (mid-2018 to mid-2019).
</p>
<p>
    Read it in:
</p>

In [72]:
df = pd.read_csv('../datasets/dataset_stop_and_searchB.csv')

In [73]:
df.shape

(169427, 6)

<p>
    Using this larger dataset, your job is to answer this question: Are the Metropolitan Police racist?
</p>